body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-top: 20px;
}

header {
    display: flex;
    align-items: baseline;
}

header .setting input {
    margin-right: 4px;
    cursor: pointer;
}

.container {
    padding-bottom: 100px;
}

h1 {
    flex: 1;
    margin-bottom: 20px;
}

#navWrapper .placeholder {
    height: 50px; /* 根據 .nav-tabs 的高度來調整 */
    display: none;
}

#navWrapper .nav-tabs {
    position: relative;
}

#navWrapper .nav-tabs .nav-item {
    margin-right: 4px;
}

#navWrapper label.last-update-time {
    position: absolute;
    bottom: 0;
    right: 10px;
}

#navWrapper .nav-tabs.sticky-nav {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
    width: 100%;
    max-width: 1110px;
}

.tab-content {
    margin-top: 20px;
}

.time {
    color: gray;
}

.tag > a, .tag > span {
    font-size: 12px;
    font-style: normal;
    letter-spacing: 1px;
    padding: 3px 5px;
    border-radius: 5px;
    border: #000 1px solid;
    color: #000;
    display: inline-block;
    line-height: 1;
}

h2 {
    margin-top: 20px;
}

h3 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

h3 > a {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
}

h3 > a:hover {
    text-decoration: none;
    color: #000;
}

h3 label a {
    font-size: 12px;
    color: #fff !important;
    font-style: normal;
    letter-spacing: 1px;
    padding: 3px 5px;
    border-radius: 5px;
    margin-bottom: 0;
    background: #e05d14;
    cursor: pointer;
    text-decoration: none;
}

h3 label a:hover {
    background: #fff !important;
    border: 1px solid #e05d14 !important;
    color: #e05d14 !important;
    text-decoration: none;
}

h3 label.political a {
    background: #8e8e9b !important;
}

h3 label.political a:hover {
    background: #fff !important;
    border: 1px solid #8e8e9b !important;
    color: #8e8e9b !important;
}

h3 label.international a {
    background: #055699 !important;
}

h3 label.international a:hover {
    background: #fff !important;
    border: 1px solid #055699 !important;
    color: #055699 !important;
}

h3 label.lifestyle a {
    background: #66a9d8 !important;
}

h3 label.lifestyle a:hover {
    background: #fff !important;
    border: 1px solid #66a9d8 !important;
    color: #66a9d8 !important;
}

h3 label.hot a {
    background: #F00078 !important;
}

h3 label.hot a:hover {
    background: #fff !important;
    border: 1px solid #F00078 !important;
    color: #F00078 !important;
}

h3 label.top a {
    background: #00BB00 !important;
}

h3 label.top a:hover {
    background: #fff !important;
    border: 1px solid #00BB00 !important;
    color: #00BB00 !important;
}

h3 label.keyword a {
    background: #8f1ac9 !important;
}

h3 label.keyword a:hover {
    background: #fff !important;
    border: 1px solid #8f1ac9 !important;
    color: #8f1ac9 !important;
}

.tab-content ul li .source {
    color: #979ba7;
    font-size: 12px;
}

/*tab content*/
#keyword > ul {
    display: inline-block;
    padding-left: 0;
}

#keyword > ul > li {
    float: left;
    text-decoration: none;
    list-style: none;
    width: max-content;
    border-radius: 4px;
    border: 1px solid #007bff;
    margin: 0 5px 5px 0;
}

#keyword > ul > li > a {
    display: block;
    padding: 0 5px;
    height: 28px;
    line-height: 28px;
}

#keyword > ul > li:hover {
    background: #007bff;
}

#keyword > ul > li:hover a {
    text-decoration: none;
    color: #ffffff;
}

.ettoday-wrapper {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: 1px solid;
    border-radius: 6px;
    background: #ffffff;
    width: 330px;
}

.ettoday-wrapper .header {
    display: flex;
}

.ettoday-wrapper .header h3 {
    display: initial;
    flex: 6;
    padding-top: 12px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.ettoday-wrapper .header h3 > a {
    margin-right: 0;
}

.ettoday-wrapper .header h3 img.logo {
    width: 200px;
}

.ettoday-wrapper .header h3 label {
    margin-bottom: 0;
}

.ettoday-wrapper .collapse-wrapper {
    width: 100%;
    padding: 0 15px;
    overflow: hidden;
    /*transition: all 0.4s ease;*/
}

.ettoday-wrapper .collapse-wrapper > ul {
    padding-left: 20px;
}

.ettoday-wrapper .collapse-wrapper > ul > li {
    margin-bottom: 8px;
    line-height: 22px;
}

.ettoday-wrapper .collapse-wrapper > ul > li .time {
    display: block;
    font-size: 12px;
}

.ettoday-wrapper .collapse-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 6px 10px 0 0;
    border-radius: 50%;
    cursor: pointer;
}

.ettoday-wrapper .collapse-btn:before {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 2px solid #000;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
}

.ettoday-wrapper .collapse-btn:hover {
    background: #82818157;
}

.ettoday-wrapper.collapsed {
    width: 230px;
}

.ettoday-wrapper.collapsed .header h3 {
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 0;
}

.ettoday-wrapper.collapsed .header h3 img.logo {
    width: 120px;
}

.ettoday-wrapper.collapsed .collapse-btn {
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.ettoday-wrapper.collapsed .collapse-btn:before {
    margin-top: 5px;
    transform: rotate(225deg);
}

.ettoday-wrapper.collapsed .collapse-wrapper {
    width: 0;
    height: 0;
}
