<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>各媒體新聞</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- 引入 Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>各媒體新聞</h1>

    <div id="navWrapper">
        <div class="placeholder" id="navPlaceholder"></div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for category, articles in news.items() %}
            <li class="nav-item" onclick="setTab('{{ category }}')">
                <a class="nav-link" id="{{ category }}-tab" data-toggle="tab"
                   href="#{{ category }}" role="tab" aria-controls="{{ category }}" aria-selected="true">
                    {{ categories[category] }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="tab-content" id="myTabContent">
        {% for category, articles in news.items() %}
        <div class="tab-pane fade" id="{{ category }}" role="tabpanel" aria-labelledby="{{ category }}-tab">
            {% for media, media_articles in articles.items() %}
                {% if media != 'ettoday' %}
                    <h3>
                        <a target="_blank" href="{{ urls[media]['top'] }}">{{ medias[media] }}</a>
                        <label class="{{ category }}">
                            <a target="_blank" href="{{ urls[media][category] }}">{{ categories[category] }}</a>
                        </label>
                    </h3>
                    {% if media_articles %}
                    <ul>
                        {% for item in media_articles %}
                        <li>
                            {% if item.time %}
                            <span class="time">{{ item.time }}</span>
                            {% endif %}
                            {% if item.tag %}
                            <span class="tag">
                                {% if item.tag['link'] %}
                                <a href="{{ item.tag['link'] }}">{{ item.tag['text'] }}</a>
                                {% else %}
                                <span>{{ item.tag['text'] }}</span>
                                {% endif %}
                            </span>
                            {% endif %}
                            <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                            {% if item.source %}
                                <span class="source">{{ item.source }}</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if articles['ettoday'] %}
            <div class="ettoday-wrapper">
                <h3>
                    <a target="_blank" href="{{ urls['ettoday']['top'] }}">{{ medias['ettoday'] }}</a>
                    <label class="{{ category }}">
                        <a target="_blank" href="{{ urls['ettoday'][category] }}">{{ categories[category] }}</a>
                    </label>
                </h3>
                <ul>
                    {% for item in articles['ettoday'] %}
                    <li>
                        <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                        <span class="time">{{ item.time }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
