<li>
    <a href="/life/2869338" target="_blank">
    <div class="img" onclick="dataLayer.push({
                                        'event': 'ga4_click_event',
                                        'category': '新聞_熱門',
                                        'action': 'click_realtime_1_pic',
                                        'label': '點擊_熱門_1_圖_日本龍婆預言「日本大地震」！台灣很嚴重　前主任發聲了_2869338',});">
        <div class="overlay-color"></div>
        <img alt="日本龍婆預言「日本大地震」！台灣很嚴重　前主任發聲了/img/upload/2025/04/26/20250426172954-7b1fd59c.jpg"
             decoding="async" height="596"
             src="https://cc.tvbs.com.tw/img/upload/2017/11/09/20171109193947-11b8e8d3.png" width="1060"/></div>
    <h2 class="txt" onclick="dataLayer.push({
                                        'event': 'ga4_click_event',
                                        'category': '新聞_熱門',
                                        'action': 'click_realtime_1_title',
                                        'label': '點擊_熱門_1_標題_日本龍婆預言「日本大地震」！台灣很嚴重　前主任發聲了_2869338',});">
        日本龍婆預言「日本大地震」！台灣很嚴重　前主任發聲了</h2>
    </a>
    <a href="/life"
                                                                    target="_blank">ss="type">生活
    </div>
</a></li>
